@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap');

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the Poppins font globally */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Example text styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600; /* Bold for headings */
}

p, span, button, input, select, textarea {
  font-weight: 400; /* Normal weight for paragraphs and other text */
}

button, input, select, textarea {
  font-size: 1rem; /* Adjust font size for inputs and buttons */
}

/* Optional: Customize specific elements if needed */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.unique-Btn-Style {
  align-items: center;
  justify-content: center;
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  box-shadow: rgba(151, 65, 252, 0.2) 0px 15px 30px -5px;
  transition: all 0.3s ease-in-out;
  min-width: 140px;
  max-width: 100%;
  line-height: 1.5;
}

.unique-Btn-Style:hover {
  background: linear-gradient(144deg, rgba(175, 64, 255, 1) 13%, rgba(0, 221, 235, 1) 44%, rgba(91, 66, 243, 1) 74%);
}

@media (min-width: 768px) {
  .unique-Btn-Style {
    font-size: 15px;
  }
}
